<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Review some Restaurants</h1>
    <p><%= link_to "Sign Up to Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="pane-body">
    <div class="row">
      <% @restaurants.each do |restaurant| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= link_to (image_tag restaurant.image.url(:medium), class: 'image'), restaurant %>
          </div>

          <ul>
          <li><%= restaurant.name %></li>
          <li><%= restaurant.address %></li>
          <li><%= restaurant.zip %></li>
          <li><%= restaurant.phone %></li>
          <li><%= restaurant.description %></li>
        </ul>
        </div>    
      <% end %>
    </div>
</div>